*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: #fff;
  font-size: max(60px, 4vw);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

header, section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
section{
  background: #66c3d0;
}
header {
  background: #024b61;
  position: relative;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 130vw;
}
header h1{
  border: 5px solid #fff;
  padding: 10px 50px;
  margin: 50px;
}
.wave1{
  animation: moveWave1 4s ease-in-out infinite alternate;
}
.wave2{
  animation: moveWave1 2s ease-in-out infinite alternate;
}
.wave3{
  animation: moveWave1 3s ease-in-out infinite alternate;
}
@keyframes moveWave1 {
  from {
    transform:  translateX( -150px);
  }
}

